---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
	<div class="py-16 text-center">
		<p class="text-lg font-medium">Page under construction</p>
	</div>
</BaseLayout>
